<% session[:user_id] = @current_user.id
	if(User.find(session[:user_id]))
		def ver_ses1%>

<h1>Ppal#index</h1>
<p>Find me in app/views/ppal/index.html.erb</p>

<li>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>

<%end 
	def ver_ses2
		else
		redirect_to @users, :notice => "Sesion cerrada"
	end%>
